<h1 class="page-header"><%= book.title %></h1>
<div class="book-info">
    <div>
        <img class="book-cover" src="<%= book.coverImagePath %>">
        <div class="book-info-btn-flex">
            <button class="btn btn-primary"><a href="/books/<%= book.id %>/edit">Edit</a></button>
            <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
        </div>
    </div>

    <div class="book-info-texts">
        <div class="book-info-key">Author: </div>
        <div class="book-info-value"><a href="/authors/<%= book.author.id %>"><%= book.author.name %></a></div>

        <div class="book-info-key">Published Date: </div>
        <div class="book-info-value"><%= book.publishedDate.toDateString() %></div>    

        <div class="book-info-key">Page Count: </div>
        <div class="book-info-value"><%= book.pageCount %></div>

        <% if (book.description && book.description.trim().length > 0){ %>
            <div class="book-info-key">Description:</div>
            <div class="book-info-value"><%= book.description %></div>         
        <% }%>
    </div>
</div>
