<h1 class="page-header"><%= book.title %></h1>
<div class="btn-row">
    <button class="btn btn-primary"><a href="/books/<%= book.id %>/edit">Edit</a></button>
    <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
</div>


<img height="150" src="<%= book.coverImagePath %>">

<h3><b>Author: </b><a href="/authors/<%= book.author._id %>"><%= book.author.name %></a></h3>
<h4><b>Published Date: </b><%= book.publishedDate.toDateString() %></h4>
<h4><b>Page Count: </b><%= book.pageCount %></h4>
<% if (book.description && book.description.trim().length > 0){ %>
    <h4><b>Description: </b><%= book.description %></h4>
<% }%>

