<h1 class="page-header">Search Authors</h1>
<form action="/authors" method="GET">
    <label>Name: </label>
    <input type="text" name="name" value="<%= searchOptions.name %>"> 
    <input class="btn btn-primary" type="submit" value="Search">
</form>
<br>
<% authors.forEach(author => { %>
    <div class="btn-row">
        <div><%= author.name %></div>
        <button class="btn btn-primary"><a href="/authors/<%= author.id %>">View</a></button>
        <button class="btn btn-primary"><a href="/authors/<%= author.id %>/edit">Edit</a></button>
        <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
    </div>
<% }) %>